<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddTimeSlot</servlet-name>
        <servlet-class>controller.AddTimeSlot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSection</servlet-name>
        <servlet-class>controller.AddSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubject</servlet-name>
        <servlet-class>controller.AddSubjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>/AddSubjects</servlet-name>
        <servlet-class>controller.AddSubjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInstructor</servlet-name>
        <servlet-class>controller.AddInstructor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourses</servlet-name>
        <servlet-class>controller.AddCourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRooms</servlet-name>
        <servlet-class>controller.AddRooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetScheduleData</servlet-name>
        <servlet-class>DataGetMethods.GetScheduleData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTimeSlot</servlet-name>
        <url-pattern>/AddTimeSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSection</servlet-name>
        <url-pattern>/AddSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubject</servlet-name>
        <url-pattern>/AddSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>/AddSubjects</servlet-name>
        <url-pattern>/AddSubjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInstructor</servlet-name>
        <url-pattern>/AddInstructor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourses</servlet-name>
        <url-pattern>/AddCourses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRooms</servlet-name>
        <url-pattern>/AddRooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetScheduleData</servlet-name>
        <url-pattern>/GetScheduleData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
